<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ _activeStair._name }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onOpenInfo()">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="10" offset-md="1" size-lg="8" offset-lg="2">

        <div [ngSwitch]="_segment">

          <div *ngSwitchCase="'_one'">
          
            <img src="/assets/images/stair.png" alt="Spiral stairs - calculate bencing radius">

            <ion-grid fixed class="ion-no-margin">

              <ion-row>
                <ion-col size="12" size-md="8" offset-md="2">
                  <ion-item lines="none">
                    <ion-label position="inline" color="medium">Stair Rise:</ion-label>
                    <ion-input type="number" [(ngModel)]="_stairRise" autofocus (ionChange)="onCalculateData()"></ion-input>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label position="inline" color="medium">Stair Going:</ion-label>
                    <ion-input type="number" [(ngModel)]="_stairGoing" (ionChange)="onCalculateData()"></ion-input>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label position="inline" color="medium">Risers Number:</ion-label>
                    <ion-input type="number" [(ngModel)]="_risersNumber" (ionChange)="onCalculateData()"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row class="ion-justify-content-start ion-align-items-center">
                <ion-col size="4">
                  <div class="ion-text-right">
                    <ion-text color="medium">Step Rise:</ion-text>
                  </div>
                </ion-col>
                <ion-col size="5">
                  <div class="ion-text-left" class="result" [style.color]="_errorRise ? 'red' : 'black'">{{_stepRise}}</div>
                </ion-col>
                <ion-col size="3">
                  <ion-text color="medium">({{_activeStair._riseTreadMin}}-{{_activeStair._riseTreadMax}})</ion-text>
                </ion-col>
              </ion-row>

              <ion-row class="ion-justify-content-start ion-align-items-center">
                <ion-col size="4">
                  <div class="ion-text-right">
                    <ion-text color="medium">Step Going:</ion-text>
                  </div>
                </ion-col>
                <ion-col size="5">
                  <div class="ion-text-left" class="result" [style.color]="_errorGoing ? 'red' : 'black'">{{_stepGoing}}</div>
                </ion-col>
                <ion-col size="3">
                  <ion-text color="medium">({{_activeStair._goingTreadMin}}-{{_activeStair._goingTreadMax}})</ion-text>
                </ion-col>
              </ion-row>

              <ion-row class="ion-justify-content-start ion-align-items-center">
                <ion-col size="4">
                  <div class="ion-text-right">
                    <ion-text color="medium">Pitch:</ion-text>
                  </div>
                </ion-col>
                <ion-col size="5">
                  <div class="ion-text-left" class="result" [style.color]="_errorPitch ? 'red' : 'black'">{{_pitch}}</div>
                </ion-col>
                <ion-col size="3">
                  <ion-text color="medium">{{_pitch < _activeStair._pitch ? '&lt;' : '&gt;'}} {{_activeStair._pitch}}&deg;</ion-text>
                </ion-col>
              </ion-row>

            </ion-grid>

          </div>

          <div *ngSwitchCase="'_two'">
            
            <app-stair-detail (_activeStair)="onGteActiveStair($event)"></app-stair-detail>

          </div>

        </div> 
  
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-segment [(ngModel)]="_segment">
      <ion-segment-button value="_one">Calculator</ion-segment-button>
      <ion-segment-button value="_two">Building Regulations</ion-segment-button>
    </ion-segment>
  </ion-toolbar> 
</ion-footer>