img {
  display: block;
  margin: 10px auto;
  padding: 0 15px;
  width: 100%;
  max-width: 450px;
}

ion-label {
  width: 65%;
  text-align: right;
}

ion-input {
  background-color: rgb(248, 248, 221);;
}

ion-label {
  padding-right: 10px;
}

.label-result {
  color: rgb(3, 18, 150);
  font-size: 20px;
}

.input-result {
  background-color: white;
  color: black;
  font-size: 20px;
}

.result {
	font-weight: bold !important;
	background-color: rgb(183, 241, 252);
	font-size: 1.3em !important;
	padding-left: 1em;
}
